{:paths ["src" "examples"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.suskalo/coffi {:mvn/version "0.4.341"}}
 :aliases {:dev
           {:jvm-opts ["--add-modules=jdk.incubator.foreign"
                       "--enable-native-access=ALL-UNNAMED"
                       "-Djdk.attach.allowAttachSelf"
                       "-XX:+UnlockDiagnosticVMOptions"
                       "-XX:+DebugNonSafepoints"]
            :extra-deps {com.taoensso/tufte {:mvn/version "2.2.0"}
                         com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.0-alpha1"}}}}}
